<div class="form-container">
  <form class="form-content">
    <h2 style="text-align: center;">S'inscrire</h2>

    <mat-form-field appearance="outline">
      <mat-label>Prenom</mat-label>
      <input matInput placeholder="ex : Awa">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="ex : Diop">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput placeholder="ex : awa123">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Téléphone</mat-label>
      <input matInput placeholder="ex : 773225651">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button style="background-color: #FF385C; color: white;" type="submit">Se Connecter</button>
  </form>
  <div style="margin-top: 20px; ">
    <small style="font-size: 15px;">Vous avez déja un compte ?
      <a routerLink="/login" style="color: rgb(101, 101, 224);">S'inscrire</a>
    </small>
  </div>
</div>