<div class="container my-profile">
  <!-- User Form -->
  <mat-card class="example-card" appearance="outlined">
    <mat-card-content>
      <div class="profile-container">
        <div class="profile-card">
          <img [src]="user?.avatar" alt="Avatar">
          <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput [value]="user?.firstName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput [value]="user?.lastName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [value]="user?.email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput [value]="user?.phone">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rôle</mat-label>
            <input matInput [value]="user?.role">
          </mat-form-field>

          <button mat-raised-button color="accent">Modifier</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- End User Form -->

  <mat-tab-group class="tab-group">
    <!-- Dashboard -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assessment
              " class="example-tab-icon">Chart</mat-icon>
        Dashboard
      </ng-template>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="form-grid">
            <h3>Dashboard</h3>
            <!-- <app-canvas-js></app-canvas-js> -->

          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- End Dashboard -->

    <!-- Add Bien -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="apartment"
          class="example-tab-icon">Appartement</mat-icon>
        Ajout Bien
      </ng-template>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="form-grid">
            <h3>Choisit le Type de Bien</h3>
            <mat-form-field appearance="outline" class="input-app">
              <mat-label>Type de Bien</mat-label>
              <mat-select [(value)]="typeSelectionne">
                <mat-option value="appartement">Appartement</mat-option>
                <mat-option value="chambre">Chambre</mat-option>
                <mat-option value="bureau">Bureau</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Start Form appartement -->
            <app-apartment-form [form]="bienForm" (submitForm)="onSubmit()" *ngIf="typeSelectionne=='appartement'"></app-apartment-form>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- End Add Bien -->
  </mat-tab-group>
</div>