<div class="container my-profile">
  <!-- User Form -->
  <mat-card class="example-card" appearance="outlined">
    <mat-card-content>
      <div class="profile-container">
        <div class="profile-card">
          <img [src]="user?.avatar" alt="Avatar">
          <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput [value]="user?.firstName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput [value]="user?.lastName">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [value]="user?.email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput [value]="user?.phone">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rôle</mat-label>
            <input matInput [value]="user?.role">
          </mat-form-field>

          <button mat-raised-button color="accent">Modifier</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- End User Form -->

  <mat-tab-group class="tab-group">
    <!-- Dashboard -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assessment
              " class="example-tab-icon">Chart</mat-icon>
        Dashboard
      </ng-template>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="form-grid">
            <h3>Dashboard</h3>
            <!-- <app-canvas-js></app-canvas-js> -->

          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- End Dashboard -->

    <!-- Add Bien -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="apartment"
          class="example-tab-icon">Appartement</mat-icon>
        Ajout Bien
      </ng-template>
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="form-grid">
            <h3>Ajouter un Bien Immobilier</h3>
            <mat-form-field appearance="outline" class="input-app">
              <mat-label>Type de Bien</mat-label>
              <mat-select [(value)]="typeSelectionne">
                <mat-option value="appartement">Appartement</mat-option>
                <mat-option value="chambre">Chambre</mat-option>
                <mat-option value="bureau">Bureau</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Start Form -->
            <form action="" class="form-apartment" *ngIf="typeSelectionne === 'appartement'">
              <mat-form-field appearance="outline" class="mat-input" class="input-app">
                <mat-label>Titre</mat-label>
                <input matInput [value]="" placeholder="ex : Appartement moderne 3 pièces au centre-ville">
              </mat-form-field>

              <mat-form-field appearance="outline" mat-input class="input-app">
                <mat-label>Adresse</mat-label>
                <input matInput [value]="">
              </mat-form-field>

              <mat-form-field appearance="outline" mat-input class="input-app">
                <mat-label>Type appartement</mat-label>
                <mat-select>
                  <mat-option value="one">Studio</mat-option>
                  <mat-option value="two">F1</mat-option>
                  <mat-option value="two">F2</mat-option>
                  <mat-option value="two">F3</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Supercie</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" />
                <span matTextSuffix style="color: grey;">m²&nbsp;</span>
              </mat-form-field>



              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Nombre de pièces</mat-label>
                <input type="number" matInput [value]="">
                <!-- <span style="color: grey;" matTextSuffix>pieces&nbsp;</span> -->
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Étage</mat-label>
                <input type="number" matInput [value]="">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Mensualité</mat-label>
                <input type="number" matInput [value]="">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Caution</mat-label>
                <span matTextSuffix style="color: grey;">mois&nbsp;</span>
                <input type="number" matInput [value]="">
              </mat-form-field>


              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Date de Disponibilité</mat-label>
                <input type="date" matInput [value]="">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input-app">
                <mat-label>Durée du bail </mat-label>
                <input matInput [value]="">
              </mat-form-field>

              <section class="example-section" class="input-app">
                <label class="example-margin">Meublé ou non meublé:</label>
                <mat-radio-group>
                  <mat-radio-button class="example-margin" value="after">Oui</mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">Non</mat-radio-button>
                </mat-radio-group>
              </section>
              <!-- Champ d'upload des images -->
              <div class="file-upload">
                <label for="fileInput">Ajouter 3 images</label>
                <input id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" multiple>
              </div>

              <!-- Affichage des aperçus d'images -->
              <div class="image-preview" *ngIf="imagePreviews.length > 0">
                <div *ngFor="let img of imagePreviews">
                  <img [src]="img" alt="Aperçu de l'image">
                </div>
              </div>

            </form>
            <button mat-raised-button color="accent">Publier</button>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- End Add Bien -->
  </mat-tab-group>
</div>