<div>
  <h3 class="title">Envoyer un message au propriétaire</h3>
    <form  class="contact-form" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <mat-form-field appearance="outline" class="mat-input" class="input-app">
            <mat-label>Prenom</mat-label>
            <input  type="text" matInput [value]="" placeholder="ex : Pape">
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-input" class="input-app">
            <mat-label>Nom</mat-label>
            <input type="text" matInput [value]="" placeholder="ex : Ngom">
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-input" class="input-app">
            <mat-label>Téléphone</mat-label>
            <input type="tel" matInput [value]="" placeholder="ex : 00221775435656">
          </mat-form-field>
          <mat-form-field appearance="outline" class="mat-input" class="input-app">
            <mat-label>Email</mat-label>
            <input type="email" matInput [value]="" placeholder="ex : ngom@gmail.com">
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Ex. message..."></textarea>
        </mat-form-field>
     
      <button type="submit" class="submit-button">Envoyer message</button>
    </form>
</div>